# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
venv_linux/

# Data and Logs
data/
tb_logs/
saved_models/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# IDE and OS
.vscode/
.idea/
.DS_Store

# Misc
claude.md
* copy.json